* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  font-family: "Inter", sans-serif;
  background: #f8f6f5;
  color: #332c36;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:hover {
  color: #332c36;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-content {
  width: 100%;
  margin-top: 100px;
  margin-bottom: 100px;
  flex-grow: 1;
}

.color-main {
  color: #f8f6f5;
  background-color: #e13335;
}

.main-header {
  width: 100%;
  height: 90px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background: #e13335;
  color: #f8f6f5;
}

.main-header .navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.main-header .navbar-brand {
  width: 100px;
}

.main-header .navbar-links .navbar-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.main-footer {
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #e13335;
  color: #f8f6f5;
}

.home .row.articles .article {
  background-color: #efefef;
  border-radius: 3px;
  width: 40%;
  height: 250px;
  margin: 30px;
  display: inline-block;
}

.home .row.articles .article-image {
  width: 100%;
  height: 100%;
  border-radius: 3px;
}

.home .row.articles .article-image img {
  width: 100%;
  max-width: 100%;
  height: auto;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 3px;
  -webkit-filter: brightness(0.3);
          filter: brightness(0.3);
}

.home .row.articles .article-image .article-body {
  bottom: 0;
  left: 10px;
}

.home .row.articles .article-image .article-body small {
  color: #9c8c94;
}

.home .row.articles .article-image .article-body--title {
  font-weight: 600;
  color: #e13335;
}

.home .row.articles .article-image .article-body--title a:hover {
  color: #e7a17a;
}

.home .row.articles .article-image .article-body--subtitle {
  font-size: 105%;
}

.home .row.articles .article-image .article-body--author {
  color: #e13335;
}

.single-article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  border-radius: 3px;
}

.single-article-header {
  text-align: center;
}

.single-article-header--title {
  font-size: 400%;
  font-weight: 600;
  color: #e13335;
}

.single-article-image {
  width: 100%;
}

.single-article-image img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  width: 100%;
  height: 500px;
}

.single-article-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 95%;
  padding: 30px;
}

.single-article-body--subtitle {
  font-size: 105%;
  width: 80%;
  font-style: italic;
  text-align: center;
}

.user-posts--title {
  padding: 10px 0;
  font-size: 100%;
}

