.main-header {
    width: 100%;
    height: 90px;
    @include flex(row, flex-start, center);
    background: $main-color;
    color: $light-text;

    .navbar {
        @include flex(row, space-between, center);
        width: 100%;

        &-brand {
            width: 100px;
        }

        &-links {

            .navbar-nav {
                
                @include flex(row, center, center);
            }
        }

    }
}