// Commons
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    font-family: 'Inter', sans-serif;
    background: $light-text;
    color: $dark-text;
    @include flex(column, flex-start, center);
}


a {
    @include reset-a;

    &:hover {
        color: $dark-text;
    }
}

ul {
    @include reset-list;
}

.main-content {
    width: 100%;
    margin-top: 100px;
    margin-bottom: 100px;
    flex-grow: 1;
}

.color-main {
    color: $light-text;
    background-color: $main-color;
}