// Colors 

$light-text: #f8f6f5;
$light-accent: #e7a17a;
$main-color: #e13335;
$dark-accent: #9c8c94;
$dark-text: #332c36;

$gray: #d8d8d8;


// Media Query Breakpoints

$mobile: 576px;
$tablet: 768px;
$desktop: 992px;
$large-dektop: 1200px;